/*--------------BODY------------*/
body{
    /*Margins for all the page*/
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;

    /*Font for all the page*/
    font-family: inter;
}

/*-----HEADER-----*/


/*-----SECTIONS-----*/


/*-----FOOTER-----*/




