menu "PurifyMyWater Device Configuration"
        
    config PARTITION_TABLE_CUSTOM_FILENAME 
        string "Custom Partition CSV filename"
        default "partition-4MB.csv"
    
    choice ESPTOOLPY_FLASHSIZE
        prompt "Flash size"
        default ESPTOOLPY_FLASHSIZE_4MB
        help
            SPI flash size, in megabytes
    endchoice

endmenu
