menu "PurifyMyWater GUI Configuration"

    choice DEVICE_SELECTED
		default PMW_DEVICE_NONE
        prompt "Select the device"
		config PMW_DEVICE_NONE
			bool "Select a supported device"

        config DEVICE_WT32_SC01
            bool "Wireless-Tag WT32-SC01 - SPI"
            help
                Select this if you are using a WT32-SC01 device.

                The corresponding CSV file in the PurifyMyWater Device Configuration directory is
                partitions/partition-16MB.csv

        config DEVICE_WT32_SC01_PLUS
            bool "Wireless-Tag WT32-SC01-Plus - 8Bit Parallel"
            help
                Select this if you are using a WT32-SC01-Plus device.

                The corresponding CSV file in the PurifyMyWater Device Configuration directory is
                partitions/partition-16MB.csv
    endchoice

endmenu
